<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>        
	</head>
	<body class="loggedin">
		<nav class="navtop">
			<div>
				<h1>{{comp}}</h1>
                <a href="{{ url_for('adm_profile') }}"><i class="fas fa-home"></i>Dashboard</a>
                <a href="{{ url_for('adm_usr_mgmt') }}"><i class="fas fa-user"></i>User Management</a>
                <a href="{{ url_for('adm_job_mgmt') }}"><i class="fas fa-list"></i>Job Listing and Management</a>
                <a href="{{ url_for('adm_chg_pwd') }}"><i class="fas fa-key"></i>Profile Management</a>
				<a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>Logout</a>
			</div>
		</nav>
		<div class="content">
			{% block content %}{% endblock %}
		</div>
	</body>
</html>